@if(Model.Name == "null")
{
  <h1>You have not made a pet</h1>
}
else if (@Model.CheckLiving() == false)
{
  <div class="dead-pane">
    <h1>Your pet is dead.</h1>
    <form action="/">
      <button type="submit" name="button">Make a new pet!</button>
    </form>
  </div>
}
else if (@Model.Hungry() == true)
{
  <div class="body">
    <div class="eye">
      <div class="top-hat-top">
        <div class="top-hat-bottom">
          <div class="stache">
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1>Your pet is hungry.</h1>
}
else if (@Model.Tired() == true)
{
  <div class="body">
    <div class="eye">
      <div class="top-hat-top">
        <div class="top-hat-bottom">
          <div class="stache">
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1>Your pet is tired.</h1>
}
else if (@Model.Sad() == true)
{
  <div class="body">
    <div class="eye">
      <div class="top-hat-top">
        <div class="top-hat-bottom">
          <div class="stache">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sad-pane">
    <h1>Your pet is sad.</h1>
  </div>
}
else
{
  <div class="body">
    <div class="eye">
      <div class="top-hat-top">
        <div class="top-hat-bottom">
          <div class="stache">
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1>Your pet is content!</h1>
}
