@{
  Layout="Shared/_Layout.cshtml";
}
<form action="active-pet" method="post">
  <div class="form-group">
    <label for="name">Enter Pet's Name: </label>
    <input type="text" name="name" id="name">
  </div>
  <button type="submit" name="button">Make a New Pet!</button>
</form>
